VITE_CMS_DOMAIN=http://localhost:5174
VITE_CMS_API_URL=http://localhost:4000
VITE_INK_API_URL=http://localhost:5174
VITE_CMS_ADMIN_ORIGIN=http://localhost:5180
VITE_BIFROST_API_URL=http://localhost:4100
DATABASE_URL=
JWT_SECRET=
OPENAI_API_KEY=
FIGMA_ACCESS_TOKEN=
INK_CMS_USERNAME=
INK_CMS_PASSWORD=
INK_CMS_TOKEN=
